<div class="contents-area grid w-full p-6 sm:p-10">
    <div class="flex flex-auto flex-col w-full">
        <h2>임원 정보 명세<span class="subTitle">Accountability Management Standards</span></h2>
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl mt-5">
            <div class="contentWrap">
                <table class="dataTable type2">
                    <caption>임원정보 관리</caption>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">직책 1)</th>
                        <td>준법감시본부장</td>
                        <th scope="row">성명</th>
                        <td>김한석</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">직위 2)</th>
                        <td>상무</td>
                        <th scope="row">현 직책 부여일<br>(임원 선임일 등)</th>
                        <td>2022-05-01</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">겸직여부 3)</th>
                        <td>Y</td>
                        <th scope="row">겸직사항 4)</th>
                        <td>준법감시인, 신용정보관리.보호인 겸 개인정보보호책임자, 보고책임자(2022년 5월 1일)</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">소관부서</th>
                        <td colspan="3">① 준법감시부&nbsp;&nbsp;&nbsp;② AML부</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">주관회의체</th>
                        <td colspan="3">회의체관리에서 입력된 항목 중 선택 가능하도록.</td>
                    </tr>
                    </tbody>
                </table>
                <div class="data_list_option">
                    <div class="option_align left"></div>
                    <div class="option_align right">
                        <app-base-button label="수정" styleClass="btnEdit" (action)="openDialog('edit')" icon="heroicons_solid:pencil-square"></app-base-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
