.process_area{display:inline-block;position:relative;width:100%;vertical-align:top;
    .circle{display:flex;position:relative;width:96px;height:96px;margin:0 auto;border-radius:50%;background:conic-gradient(#e32a2e 0deg, #f1f3f5 0deg);font-size:10px;transition:background .2s;}
    .inner-circle{width:66px;height:66px;border-radius:inherit;background:#fff;margin:auto;display:flex;color:white;justify-content:center;
        .circle_text{display:flex;align-items:center;color:#000;font-size:18px;font-weight:500;line-height:20px;
            .text_inner{text-align:center;
                div{margin:0 0 10px;}
            }
        }
    }
}
/*.process_area::before,.process_area::after{display:none;position:absolute;top:0;width:1px;height:136px;background:#dedede;}
.process_area::before{left:0;}
.process_area::after{right:0;}*/
