<div class="text-secondary font-medium tracking-tight text-right">[총 <span class="dataCount" #dataCount>0</span>건]</div>
<div class="dataTableScroll">
    <div class="scrollWrap">
        <table #table class="dataTable" style="width:100%;border-top:2px solid #a5aabc;">
            <caption style="position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;">점검항목 결재 대기</caption>
            <thead>
            <tr style="position:relative;">
                <th scope="col" rowspan="2" class="first" style="padding:15px 10px;background:#f1f3f5;border-left:none;border-bottom:1px solid #dedede;">부서</th>
                <th scope="col" rowspan="2" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">점검대상월</th>
                <th scope="col" colspan="3" data-colgroup-group="g1" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">점검항목(건수)</th>
                <th scope="col" rowspan="2" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">결재요청일</th>
            </tr>
            <tr style="position:relative;">
                <th scope="col" data-colgroup-element="g1" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">전체</th>
                <th scope="col" data-colgroup-element="g1" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">적정</th>
                <th scope="col" data-colgroup-element="g1" style="padding:15px 10px;background:#f1f3f5;border-left:1px solid #dedede;border-bottom:1px solid #dedede;">부적정</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr *ngFor="let row of tableData" style="position:relative;">
                <td class="text-left" style="padding:10px;border-bottom:1px solid #dedede;">
                    <button type="button" class="detailView" (click)="openModal(row)" style="display:block;position:relative;z-index:2;width:100%;text-align:center;"><span style="position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;">상세보기 모달</span></button>
                    {{ row.department }}
                </td>
                <td style="padding:10px;border-bottom:1px solid #dedede;">{{ row.month }}</td>
                <td style="padding:10px;border-bottom:1px solid #dedede;">{{ row.total }}</td>
                <td style="padding:10px;border-bottom:1px solid #dedede;">{{ row.appropriate }}</td>
                <td style="padding:10px;border-bottom:1px solid #dedede;">{{ row.inappropriate }}</td>
                <td style="padding:10px;border-bottom:1px solid #dedede;">{{ row.requestDate }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
