.searchFormTable{
    .custom_form_field{width:100% !important;min-width:100% !important;max-width:100% !important;}
    .searchFlex{display:flex;width:100%;
        .custom_form_field{width:calc(100% - 130px) !important;min-width:calc(100% - 130px) !important;max-width:calc(100% - 130px) !important;}
        .formButton{flex:0 0 120px;width:120px;margin:0 0 0 10px;}
    }
}
