$visually-hidden-style: (position:absolute,width:1px,height:1px,margin:-1px,padding:0,overflow:hidden,clip:rect(0,0,0,0),border:0);

@mixin visually-hidden {
    @each $property, $value in $visually-hidden-style {
        #{$property}: #{$value};
    }
}
.sort-button{display:inline-block;width:19px;height:19px;vertical-align:top;
    .mat-icon{min-width:initial;min-height:initial;width:16px;height:16px;font-size:16px;line-height:16px;fill:#aaa;color:#aaa;}
    &.active{
        .mat-icon{fill:#454d6a;color:#454d6a;}
    }
    span{@include visually-hidden;}
}
.field-attachment{
    &.zIndex{position:relative;z-index:3;}
    .attachment-wrap{position:relative;z-index:2;
        .attachment-button{position:relative;width:30px;height:30px;border-radius:15px;background:rgba(189,186,258,.1);vertical-align:middle;transition:background .3s ease;
            &:hover{background:rgba(189,186,258,.4);}
            span{@include visually-hidden;}
            &.active{background:rgba(189,186,258,8);
                + .attachment-list{display:block;}
            }
            .mat-icon{display:block;position:absolute;top:5px;left:7px;min-width:18px;min-height:18px;width:18px;height:18px;font-size:18px;line-height:18px;}
        }
        .attachment-list{display:none;position:absolute;top:35px;left:50%;width:auto;height:auto;padding:15px 20px;background:#fff;border:1px solid #f1f3f5;border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,.1);transform:translateX(-50%);
            li{display:block;position:relative;margin:7px 0 0;padding:0 0 0 8px;text-align:left;
                &::before{display:block;position:absolute;top:5px;left:0;width:3px;height:3px;background:#0f172a;border-radius:2px;}
                &:first-child{margin:0;}
                a{display:block;margin:0;font-size:12px;line-height:14px;white-space:nowrap;}
            }
        }
    }
}
