<div class="contents-area grid w-full p-6 sm:p-10">
    <div class="flex flex-auto flex-col w-full">
        <h2>임원 관리조치 점검<span class="subTitle">Review executive management actions</span></h2>
        <div class="bg-card flex flex-auto flex-col overflow-hidden shadow rounded-2xl w-full mt-5">
            <div class="dataDetail">
                <h3>책무 및 주요 관리의무<span class="subTitle">Sub title</span></h3>
                <table class="dataTable type2 formTable">
                    <caption>책무 및 주요 관리의무</caption>
                    <colgroup>
                        <col style="width:150px">
                        <col>
                        <col style="width:150px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">책무</th>
                        <td>준법감시업무와 관련된 책무</td>
                        <th scope="row">책무 세부내용</th>
                        <td>관련 법령&middot;내부통제기준 준수 여부를 관리할 책임</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">주요 관리의무</th>
                        <td colspan="3">정보교류차단 체계 구축, 금융사고 예방대책 평가 등 관련 법렬 및 내부통제기준 준수 여부 관리</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="mt-10">세부 관리항목 및 관리 담당자<span class="subTitle">Sub title</span></h3>
                <table class="dataTable type2 formTable">
                    <caption>세부 관리항목 및 관리 담당자</caption>
                    <colgroup>
                        <col style="width:150px">
                        <col>
                        <col style="width:150px">
                        <col>
                        <col style="width:150px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">세부 관리항목</th>
                        <td colspan="5">정보교류 차단 관련 체계 구축 및 점검</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">관련 법령</th>
                        <td>은행법 제28조의2, 자본시장법 제44조, 제45조</td>
                        <th scope="row">관련 내규</th>
                        <td colspan="3">내부통제기준 제29조, 금융투자업 겸영은행 이해상충방지 세칙</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">담당 부서장</th>
                        <td>박상현</td>
                        <th scope="row">관리 담당자</th>
                        <td>박상현, 조재구</td>
                        <th scope="row">점검 주체</th>
                        <td>Product ICRM</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">점검 대상</th>
                        <td colspan="5">차단대상 정보(미공개중요정보, 금융투자상품매매 또는 소유현황에 대한 정보)</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="mt-10">이행 점검<span class="subTitle">Sub title</span></h3>
                <table class="dataTable type2 formTable">
                    <caption>이행 점검</caption>
                    <colgroup>
                        <col style="width:150px">
                        <col>
                        <col style="width:150px">
                        <col>
                        <col style="width:150px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">점검 시기</th>
                        <td>연말 익월발</td>
                        <th scope="row">점검 주기</th>
                        <td>분기별</td>
                        <th scope="row">점검 담당자</th>
                        <td>김OO</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">점검 방법</th>
                        <td colspan="5">정보교류차단 관련 체계 및 내규에 대한 업데이트 여부 및 서베일런스과정에서 발견된 정보교류 차단사항의 위반에 대한 조치여부 점검</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="mt-10">점검 결과 및 증빙자료 첨부<span class="subTitle">Sub title</span></h3>
                <table class="dataTable type2 formTable">
                    <caption>점검 결과 및 증빙자료</caption>
                    <colgroup>
                        <col style="width:150px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">점검 결과</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">증빙자료 첨부</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">평가 결과</th>
                        <td>Failed
                            <div class="optionField">
                                <div class="optionWrap">
                                    <h4 class="mb-4">세부 관리항목 및 점검결과</h4>
                                    <table class="dataTable type2 formTable">
                                        <caption>세부 관리항목 및 점검결과</caption>
                                        <colgroup>
                                            <col style="width:150px">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="first">세부 관리항목</th>
                                            <td>정보교류 차단 관련 체계 구축 및 점검</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="first">점검 방법</th>
                                            <td>정보교류 차단 관련 체계 및 내규에 대한 업데이트 여부 및 서베일런스과정에서 발견된 정보교류 차단사항의 위반에 대한 조치여부 점검</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="first">점검 결과</th>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <h4 class="mt-10 mb-4">이슈 및 사후 조치 내용</h4>
                                    <table class="dataTable type2 formTable">
                                        <caption>이슈 및 사후 조치 내용</caption>
                                        <colgroup>
                                            <col style="width:150px">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="first">이슈 내용</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="first">근본 원인</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="first">사후 조치</th>
                                            <td>*Issu#/iCAP#</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="first">보안 통제</th>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">제출의견</th>
                        <td>OOO 건으로 보고드립니다.</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">부서장 전결</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="mt-10">검토자의견<span class="subTitle">Sub title</span></h3>
                <table class="dataTable type2 formTable">
                    <caption>검토자의견 작성 양식</caption>
                    <colgroup>
                        <col style="width:150px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="first">부서장</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">임원</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="data_list_option padding-0">
                    <div class="option_align left">
                    </div>
                    <div class="option_align right">
                        <app-base-button label="목록" tag="a" [routerLink]="['/executive-management']" styleClass="btnList" icon="heroicons_solid:bars-3"></app-base-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

