<div class="management-duties" #content>
    <table class="dataTable type2 copyTableForm">
        <caption>주요관리의무</caption>
        <thead>
        <tr class="borderTop">
            <th scope="col" class="first">책무 이행을 위한 주요 관리의무 1)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="first">
                [내부통제체계를 구축 및 운영 업무를 집행할 책임]<br>
                &nbsp;&nbsp;①&nbsp;내부통제기준 적정성 관리, 감독(Framework 구축/마련)<br>
                &nbsp;&nbsp;②&nbsp;내부통제 지침 및 준수매뉴얼 제정 및 시행<br>
                &nbsp;&nbsp;③&nbsp;준법감시부서 역량제고를 위한 준법감시 직원확보<br>
                <br>
                [관련 법령&middot;내부통제기준 준수 여부를 관리할 책임]<br>
                &nbsp;&nbsp;①&nbsp;정보교류차단 체계 구축, 금융사고 예방대책 평가 등 관련 법령 및 내부통제기분 준수 여부 관리<br>
                &nbsp;&nbsp;②&nbsp;내부통제기준 위반사항에 대한 필요 조치<br>
                &nbsp;&nbsp;③&nbsp;임직원 내부통제 교육프로그램을 운영&middot;관리<br>
                <br>
                [윤리경영 실현을 위한 제도 및 프로그램을 운영&middot;관리할 책임]<br>
                &nbsp;&nbsp;①&nbsp;윤리경영 실현을 위한 윤리강령의 구축, 운영 및 준수여부 관리<br>
                <br>
                [준법감시업무를 수행할 책임]<br>
                &nbsp;&nbsp;①&nbsp;법규 및 관련 내규 준수여부 사전 검토<br>
                <br>
                [자금세탁방지 관련 내부통제를 수행할 책임]<br>
                &nbsp;&nbsp;①&nbsp;자금세탁방지 관련 내부통제 정책의 설계&middot;운영 및 평가
            </td>
        </tr>
        </tbody>
    </table>
    <div><br>
        주&nbsp;1)&nbsp;'2. 책무'와 관련하여 법 제30조의2 및 제30조의4 등에 따라 부담하는 주요 관리&middot;총괄의무(이하 '관리의무등'이라 한다)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(※ 표에 기재한 관리의무등은 임원 및 대표이사등(법 제30조의2제2항의 대표이사등을 말한다)이 수행할 구체적인 관리조치를<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;의미하는 것은 아니며, 회사 자체적으로 임원별 세부적인 관리조치&middot;활동 계획을 별도 마련하여야 함에 유의)
    </div>
</div>
