<div class="contents-area grid w-full p-6 sm:p-10">
    <div class="flex flex-auto flex-col">
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl contentsArea">
            <div class="contentWrap">컨텐츠 영역</div>
        </div>
        <h2 class="mt-8 titleBlock">제목 태그 컨텐츠 영역 밖 h2 / subTitle 아래로 내리려면 class="titleBlock"<span class="subTitle">Accountability Management Standards</span></h2>
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl contentsArea">
            <div class="contentWrap">
                <h3>h3 책무체계도 조회<span class="subTitle">Accountability Management Standards</span></h3>
                <h4>h4 책무체계도 조회<span class="subTitle">Accountability Management Standards</span></h4>
                <h5>h5 책무체계도 조회<span class="subTitle">Accountability Management Standards</span></h5>
            </div>
        </div>
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl contentsArea">
            <div class="contentWrap">
                <h3>버튼<span class="subTitle">Button</span></h3>
                <button type="button" mat-flat-button class="custom-option-button btnList"><em>목록</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:bars-3"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnList"><em>목록</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:bars-3"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnAdd"><em>생성</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:plus-small"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnAdd"><em>생성</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:plus-small"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnWrite"><em>글쓰기</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnWrite"><em>글쓰기</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnSave"><em>등록</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnSave"><em>등록</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnSave"><em>저장</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check-circle"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnSave"><em>저장</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check-circle"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnSave"><em>승인</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check-circle"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnSave"><em>승인</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:check-circle"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnEdit"><em>수정</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil-square"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnEdit"><em>수정</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil-square"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnEdit"><em>승인요청</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil-square"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnEdit"><em>승인요청</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:pencil-square"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnDelete"><em>삭제</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-mark"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnDelete"><em>삭제</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-mark"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnCancel"><em>취소</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-mark"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnCancel"><em>취소</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-mark"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button btnCancel"><em>반려</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-circle"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnCancel"><em>반려</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:x-circle"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnDownload"><em>다운로드</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:arrow-down-circle"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnDownload"><em>다운로드</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:arrow-down-circle"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnModal"><em>모달</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:window"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnModal"><em>모달</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:window"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnAttachment"><em>파일</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:magnifying-glass-circle"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnAttachment"><em>파일</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:magnifying-glass-circle"></mat-icon></a>
                <br>
                <button type="button" mat-flat-button class="custom-option-button btnPrint"><em>프린트</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></button>
                <a mat-flat-button class="custom-option-button btnPrint"><em>프린트</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-button small btnPrint"><em>프린트</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></button>
                <a mat-flat-button class="custom-option-button small btnPrint"><em>프린트</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></a>

                <button type="button" mat-flat-button class="custom-option-textButton"><em>텍스트 링크&amp;버튼</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></button>
                <a mat-flat-button class="custom-option-textButton"><em>텍스트 링크&amp;버튼</em><mat-icon class="mat-icon" svgIcon="heroicons_solid:printer"></mat-icon></a>
            </div>
        </div>
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl contentsArea">
            <div class="contentWrap">
                <h3>테이블<span class="subTitle">Table</span></h3>
                <h4>데이터 테이블<span class="subTitle">Data Table</span></h4>
                <table class="dataTable type2">
                    <caption>데이터 테이블 템플릿</caption>
                    <colgroup>
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="first">제목1</th>
                        <th scope="col">제목2</th>
                        <th scope="col">엄청나게 긴~~~~~~~~~~~~~~~~~~~~~~~~ 제목</th>
                        <th scope="col">제목4</th>
                        <th scope="col">제목제목제목5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="first">내용</td>
                        <td>내용</td>
                        <td>내용</td>
                        <td>내용</td>
                        <td>내용</td>
                    </tr>
                    </tbody>
                </table>
                <h4>목록 테이블 - 데이터 테이블과는 tbody 안 td의 라인 차이<span class="subTitle">List Table</span></h4>
                <table class="dataTable">
                    <caption>목록 테이블 템플릿</caption>
                    <colgroup>
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="first">제목1</th>
                        <th scope="col">제목2</th>
                        <th scope="col">엄청나게 긴~~~~~~~~~~~~~~~~~~~~~~~~ 제목</th>
                        <th scope="col">제목4</th>
                        <th scope="col">제목제목제목5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="first"><a class="detailView"><span>상세보기</span></a>내용</td>
                        <td>내용</td>
                        <td>내용</td>
                        <td><button class="custom-option-textButton floatButton"><em>책무</em></button></td>
                        <td>내용</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-card w-full overflow-hidden shadow rounded-2xl contentsArea">
            <div class="contentWrap">
                <h3>게시물 상세보기<span class="subTitle">Post View</span></h3>
            </div>
        </div>
    </div>
</div>
