$visually-hidden-style: (position:absolute,width:1px,height:1px,margin:-1px,padding:0,overflow:hidden,clip:rect(0,0,0,0),border:0);

@mixin visually-hidden {
    @each $property, $value in $visually-hidden-style {
        #{$property}: #{$value};
    }
}

:host{display:flex;flex-direction:column;align-items:flex-start;}

.customDialogWrap{position:relative;min-width:300px;
    &::before{content:'';display:block;position:absolute;top:-24px;left:-24px;right:-24px;height:65px;background:#ebe9e9;}
    .mat-mdc-dialog-content{padding:20px 0 !important;}
    h2{position:relative;z-index:1;margin:0 40px 24px 0;color:#1e293b;font-size:16px;font-weight:900;}
    mat-form-field .mat-hint,mat-form-field .mat-error{display:none;}
    mat-form-field .mat-mdc-form-field-subscript-wrapper{display:none;}
    mat-form-field .mat-mdc-form-field-hint-wrapper{margin:0;padding:0;height:0;visibility:hidden;}
    .mdc-text-field--outlined .mat-mdc-form-field-infix{min-height:44px;padding:10px 0;}
}
.dialogSideText{text-align:right;}
.dialogDataTitle{display:block;padding:5px 0;
    strong{display:inline-block;position:relative;padding:0 0 0 15px;font-weight:700;
        &::before{content:'';display:block;position:absolute;top:7px;left:1px;width:8px;height:8px;background:#fff;border-top:2px solid #9d1c1f;border-right:2px solid #9d1c1f;border-radius:0 5px 0 5px;box-shadow:-2px 2px 1px rgba(0,0,0,0.15);transform:rotate(-45deg);}
    }
}
.dialogDataTable{width:100%;border-top:2px solid #666;
    + .dialogDataTable{margin:40px 0 0;}
    caption{@include visually-hidden;}
    th, td{padding:10px 10px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
    .first{border-left:none;}
    th{background:#f1f3f5;}
    tfoot{
        th{background:#dedede;}
        td{background:#f1f3f5;}
    }
    &.formTable{
        mat-form-field{width:100% !important;}
    }
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{top:20px !important;}
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{--mat-mdc-form-field-label-transform: translateY(calc(calc(0.25px + var(--mat-form-field-container-height, 20px) / 2)* -1)) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;transform: var(--mat-mdc-form-field-label-transform) !important;}
}
.dialogCloseButton{display:block;position:absolute;top:2px;right:0;width:20px;height:20px;
    &::before,&::after{display:block;content:'';position:absolute;width:20px;height:3px;background:#1e293b;border-radius:2px;}
    &::before{top:8px;left:0;transform:rotate(-45deg);}
    &::after{top:8px;left:0;transform:rotate(45deg);}
    span{@include visually-hidden;}
}
.customDialogSearch{display:block;margin:0 0 30px;padding:26px 20px 20px 20px;background:#f1f3f5;text-align:center;}
.dialogFormButton{min-height:initial !important;max-height:initial !important;height:44px !important;margin:0 0 0 10px;
    span{@include visually-hidden;}
}
