<div class="dialog_content">
    <table class="dialogDataTable">
        <caption>관련 책무</caption>
        <colgroup>
            <col>
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th scope="row" class="first">임원</th>
            <td>신탁본부장</td>
        </tr>
        <tr>
            <th scope="row" class="first">책무</th>
            <td>신탁업무와 관련된 책무</td>
        </tr>
        <tr>
            <th scope="row" class="first">책무세부</th>
            <td>신탁 제도&middot;정책의 수립&middot;추진 업무에 대한 책임</td>
        </tr>
        <tr>
            <th scope="row" class="first">관리의무</th>
            <td>신탁사업 관련 정책 수립에 대한 관리 및 점검</td>
        </tr>
        <tr>
            <th scope="row" class="first">점검항목</th>
            <td>{{ data.rowData.checkList }}</td>
        </tr>
        </tbody>
    </table>
</div>
