<div class="contents-area grid w-full p-6 sm:p-10">
    <div class="flex flex-auto flex-col w-full">
        <h2>임원 관리조치 점검<span class="subTitle">Review executive management actions</span></h2>
        <app-data-search *ngIf="performCheck" [type]="'performCheck'"></app-data-search>
        <div class="bg-card flex flex-auto flex-col overflow-hidden shadow rounded-2xl w-full mt-5">
            <div class="data_list_option">
                <div class="option_align left"><!--전체 <span class="data_count">0</span>건--></div>
                <div class="option_align right">
                    <!--<app-base-button label="출력하기" icon="heroicons_solid:printer" styleClass="btnPrint"></app-base-button>-->
                    <app-base-button label="엑셀 다운로드" icon="heroicons_solid:arrow-down-circle"></app-base-button>
                </div>
            </div>
            <div class="board_wrap list">
                <table #table class="dataTable type2">
                    <caption>임원 관리조치 점검 내역</caption>
                    <colgroup>
                        <col>
                        <col style="width:50px">
                        <col style="width:50px">
                        <col>
                        <col>
                        <col style="width:110px">
                        <col style="width:110px">
                        <col style="width:70px">
                        <col style="width:110px">
                        <col style="width:80px">
                        <col style="width:80px">
                        <col style="width:80px">
                        <col style="width:70px">
                        <col style="width:100px">
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" rowspan="2" class="first">No.</th>
                        <th scope="col" rowspan="2">책무</th>
                        <th scope="col" rowspan="2">책무세부내용</th>
                        <th scope="col" rowspan="2">주요관리의무</th>
                        <th scope="col" rowspan="2" id="items">세부관리항목</th>
                        <th scope="col" rowspan="2" id="laws">관련법령</th>
                        <th scope="col" colspan="5" id="department">부서관리조치</th>
                        <th scope="col" colspan="3" id="departHead">부서장 결재상태</th>
                        <th scope="col" id="executive">임원 결재상태</th>
                    </tr>
                    <tr>
                        <th scope="col" id="dp1">관련내규</th>
                        <th scope="col" id="dp2">담당자</th>
                        <th scope="col" id="dp3">점검수행</th>
                        <th scope="col" id="dp4">수행주기</th>
                        <th scope="col" id="dp5">점검상태</th>
                        <th scope="col" id="dh1">검토수행</th>
                        <th scope="col" id="dh2">전결</th>
                        <th scope="col" id="dh3">검토상태/일시</th>
                        <th scope="col" id="ect1">점검상태/일시</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            1
                        </th>
                        <th scope="row" id="respons1" rowspan="22">준법감시업무와 관련된 책무</th>
                        <th scope="row" id="respons1_1" rowspan="4">내부통제체계를 구축 및 운영할 책임</th>
                        <th scope="row" id="respons1_1_1">내부통제기준 적정성 관리, 감독<br>(Framework 구축/마련)</th>
                        <td headers="items respons1 respons1_1 respons1_1_1">내부통제기준 적정성 주기적 점검 및 제개정 입안 및 운영</td>
                        <td headers="laws respons1 respons1_1 respons1_1_1">지배구조법 제24조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_1 respons1_1_1">규정관리세칙 제7조<br>(규정의 시행책임)
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_1 respons1_1_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_1 respons1_1_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_1 respons1_1_1">분기</td>
                        <td headers="department dp5 respons1 respons1_1 respons1_1_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_1 respons1_1_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_1 respons1_1_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_1 respons1_1_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_1 respons1_1_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            2
                        </th>
                        <th scope="row" id="respons1_1_2" rowspan="2">내부통제 지침 및 준수매뉴얼 제정 및 시행</th>
                        <td headers="items respons1 respons1_1 respons1_1_2">내부통제 지침 및 준수매뉴얼 제정 및 시행</td>
                        <td headers="laws respons1 respons1_1 respons1_1_2">지배구조법 제24조, 지배구조법 시행령 제19조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_1 respons1_1_2">내부통제기준 제9조 제3항, 제17조 제2항 제3호, 법규준수 업무 세칙, 준법감시 업무방법서
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_1 respons1_1_2"><app-base-button label="지정" styleClass="btnEdit" size="small"></app-base-button></td>
                        <td headers="department dp3 respons1 respons1_1 respons1_1_2"><app-base-button label="점검" [routerLink]="['/executive-management', 'write-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_1 respons1_1_2">반기</td>
                        <td headers="department dp5 respons1 respons1_1 respons1_1_2">점검중</td>
                        <td headers="departHead dh1 respons1 respons1_1 respons1_1_2">검토</td>
                        <td headers="departHead dh2 respons1 respons1_1 respons1_1_2">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_1 respons1_1_2">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_1 respons1_1_2">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            3
                        </th>
                        <td headers="items respons1 respons1_1 respons1_1_2">내부고발제도 운용에 대한 내부통제기준 마련<br>(운영에 관해서는 검사부에서 수행함)</td>
                        <td headers="laws respons1 respons1_1 respons1_1_2">지배구조법 제24조, 시행령 제19조, 감독규정 제11조 제2항 제1호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_1 respons1_1_2">내부통제기준 제37조(내부고발제도), 상부보고세칙
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_1 respons1_1_2">박OO</td>
                        <td headers="department dp3 respons1 respons1_1 respons1_1_2"><app-base-button label="점검" [routerLink]="['/executive-management', 'write-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_1 respons1_1_2">연례</td>
                        <td headers="department dp5 respons1 respons1_1 respons1_1_2">점검대기</td>
                        <td headers="departHead dh1 respons1 respons1_1 respons1_1_2">검토</td>
                        <td headers="departHead dh2 respons1 respons1_1 respons1_1_2">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_1 respons1_1_2">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_1 respons1_1_2">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            4
                        </th>
                        <th scope="row" id="respons1_1_3">준법감시부서 역량제고를 위한 준법감시 직원확보</th>
                        <td headers="items respons1 respons1_1 respons1_1_3">준법감시직원 역량제고를 위한 준법감시 직원확보 및 전문인력 확보 현황점검</td>
                        <td headers="laws respons1 respons1_1 respons1_1_3">지배구조법 제24조, 시행령 제19조, 감독규정 제11조 제2항 제1호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_1 respons1_1_3">내부통제기준 제15조, 제16조, 인사관련 내부통제 방법서 제7조 및 제8조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_1 respons1_1_3">김OO</td>
                        <td headers="department dp3 respons1 respons1_1 respons1_1_3"><app-base-button label="점검" [routerLink]="['/executive-management', 'write-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_1 respons1_1_3">반기</td>
                        <td headers="department dp5 respons1 respons1_1 respons1_1_3">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_1 respons1_1_3">검토</td>
                        <td headers="departHead dh2 respons1 respons1_1 respons1_1_3">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_1 respons1_1_3">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_1 respons1_1_3">점검중</td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            5
                        </th>
                        <th scope="row" id="respons1_2" rowspan="11">관련 법령&middot;내부통제기준 준수 여부를 관리할 책임</th>
                        <th scope="row" id="respons1_2_1" rowspan="8">정보교류차단 체계 구축, 금융사고 예방대책 평가 등 관련 법령 및 내부통제기준 준수 여부 관리</th>
                        <td headers="items respons1 respons1_2 respons1_2_1">정보교류차단 관련 체계 구축 및 점검(정보교류차단 관련 내규 적정성 및 점검을 의미)</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">은행법 제28조의2, 자본시장법 제44조, 제45조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">내부통제기준 제29조, 금융투자업 겸영은행 이해상충방지 세칙(첨부)
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">박OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.27</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            6
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">금융사고 예방 내부통제 사후관리점검</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">은행법 제34조의 3
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">내부통제기준 제28조, 금융사고 예방 내부통제 방법서 제7조 등, 인사관련 내부통제방법서 제6조 등
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">박OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">연례</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            7
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">재산상 이익제공 법규 준수여부 점검 및 이사회 보고, 공시</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">은행법 제34조의2 제1항 제3호, 시행령 제20조의2 제3호, 은행업감독규정, 제29조의3, 부정청탁 및 금품 등 수수의 금지에 관한 법률
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">내부통제기준 제26조의2, 재산상의 이익 제공 방법서, 선물 및 접대 규준, 뇌물방지정책, 금융투자업 겸영은행 이해상충방지 세칙 제8조(재산상 이익의 제공 및 수령 제한)
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">박OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            8
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">임직원 겸직 기준 마련, 적정성 및 준수 여부 점검 및 필요 조치</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">지배구조법 제10조(겸직제한), 제11조(겸직승인 및 보고), 제29조(준법감시인, 위험관리책임자), 시행령 제11조, 제19조 제1항 제12호, 제24조(겸직금지 등), 상법 제397조(경업금지), 자본시장법 제250조(은행에 대한 특칙) 제7항
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">내부통제기준 제16조 제2항(준법감시인의 독립성 확보), 제24조(임직원의 타 회사 겸직 관련), 임직원 외부 이사직 및 비즈니스 이해관계 정책, 금융사고예방방법서 제2조, 금융투자업 겸영은행 이해상충 방지세칙
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">연례</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            9
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">불공정거래행위 모니터링-개인 거래 및 투자정책</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">자본시장법 제63조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">내부통제기준 제27조, 금융투자업 겸영은행 이해상충방지 세칙 제18조, 개인거래 및 투자정책, 금융투자업 겸영은행, 이해상충 방지 세칙 제18조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.21</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.25</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            10
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">불공정거래행위 모니터링-광고 표시 심의(허위, 과장 금지)</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">금융소비자보호법 제22조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">금융상품 광고 및 공시자료 등 작성&middot;운영 방법서 제5조, 제6조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">연례</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.20</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            11
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">업무위수탁 점검(준법감시인 사전 검토)(사후 반기보고 업무는 TPMRC회의에서 수행함-OTRC부)</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">지배구조감독규정 별표2 9. 금융기관의 업무위탁 등에 관한 규정 제4조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">업무위수탁 절차 및 운영 방법서
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.20</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            12
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_1">정보처리위탁기준 마련</td>
                        <td headers="laws respons1 respons1_2 respons1_2_1">정보처리위탁규정
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_1">업무위수탁 절차 및 운영 방법서
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_1">연례</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.20</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            13
                        </th>
                        <th scope="row" id="respons1_2_2">내부통제기준 위반사항에 대한 필요 조치</th>
                        <td headers="items respons1 respons1_2 respons1_2_2">법령과 내부통제기준등의 준수 여부를 점검하고 위반사항 및 미흡한 사항에 대한 시정&middot;개선에 필요한 조치 및 이사회/감사위원회 보고</td>
                        <td headers="laws respons1 respons1_2 respons1_2_2">지배구조법 제30조의2 제4호, 시행령 제25조의2 제3항 제3호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_2">내부통제기준 제9조 제1항, 제14조 제3호 및 4호, 제18조 제3항
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_2">김OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_2"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_2">연례</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_2">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_2">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_2">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_2">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_2">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.20</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            14
                        </th>
                        <th scope="row" id="respons1_2_3" rowspan="2">임직원 내부통제 교육프로그램을 운영&middot;관리</th>
                        <td headers="items respons1 respons1_2 respons1_2_3">임직원 교육</td>
                        <td headers="laws respons1 respons1_2 respons1_2_3">지배구조법시행령 제25조의2 제3항 제2호, 자본시장법 제45조 제4항 제2호, 금융회사 지배구조 감독규정 [별표 2] 제8호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_3">내부통제기준 제17조 제2항 제5호, 제20조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_3">박OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_3"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_3">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_3">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_3">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_3">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_3">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.15</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_3">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.19</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            15
                        </th>
                        <td headers="items respons1 respons1_2 respons1_2_3">준법감시 담당 임직원교육</td>
                        <td headers="laws respons1 respons1_2 respons1_2_3">지배구조법시행령 제25조의2 제3항 제2호, 자본시장법 제45조 제4항 제2호, 금융회사 지배구조 감독규정 [별표 2] 제8호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_2 respons1_2_3">내부통제기준 제17조 제2항 제5호, 제20조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_2 respons1_2_3">박OO</td>
                        <td headers="department dp3 respons1 respons1_2 respons1_2_3"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_2 respons1_2_3">분기</td>
                        <td headers="department dp5 respons1 respons1_2 respons1_2_3">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_2 respons1_2_3">검토</td>
                        <td headers="departHead dh2 respons1 respons1_2 respons1_2_3">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_2 respons1_2_3">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.15</p></td>
                        <td headers="executive ect1 respons1 respons1_2 respons1_2_3">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.19</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            16
                        </th>
                        <th scope="row" id="respons1_3" rowspan="2">윤리경영 실현을 위한 제도 및 프로그램을 운영&middot;관리할 책임</th>
                        <th scope="row" id="respons1_3_1" rowspan="2">윤리경영 실현을 위한 윤리강령의 구축, 운영 및 준수여부 관리</th>
                        <td headers="items respons1 respons1_3 respons1_3_1">임직원 윤리강령 제개정 및 운영</td>
                        <td headers="laws respons1 respons1_3 respons1_3_1">지배구조법 제22조의2 제1항 2호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_3 respons1_3_1">내부통제기준 제17조 제2항 제4호, 제36조 제1항, 윤리강령
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_3 respons1_3_1">박OO</td>
                        <td headers="department dp3 respons1 respons1_3 respons1_3_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_3 respons1_3_1">연례</td>
                        <td headers="department dp5 respons1 respons1_3 respons1_3_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_3 respons1_3_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_3 respons1_3_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_3 respons1_3_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_3 respons1_3_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            17
                        </th>
                        <td headers="items respons1 respons1_3 respons1_3_1">임직원 윤리강령 준수 여부 점검</td>
                        <td headers="laws respons1 respons1_3 respons1_3_1">지배구조법 제22조의2 제1항 2호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_3 respons1_3_1">내부통제기준 제23조 1항, 제36조 제1항
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_3 respons1_3_1">박OO</td>
                        <td headers="department dp3 respons1 respons1_3 respons1_3_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_3 respons1_3_1">분기</td>
                        <td headers="department dp5 respons1 respons1_3 respons1_3_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_3 respons1_3_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_3 respons1_3_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_3 respons1_3_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_3 respons1_3_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            18
                        </th>
                        <th scope="row" id="respons1_4" rowspan="5">준법감시업무를 수행할 책임</th>
                        <th scope="row" id="respons1_4_1" rowspan="5">법규 및 관련 내규 준수여부 사전 검토</th>
                        <td headers="items respons1 respons1_4 respons1_4_1">규정 등 내부규정 검토</td>
                        <td headers="laws respons1 respons1_4 respons1_4_1">지배구조법 시행령 제19조 제1항 제3호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_4 respons1_4_1">내부통제기준 제19조 제1항 제1호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_4 respons1_4_1">이OO</td>
                        <td headers="department dp3 respons1 respons1_4 respons1_4_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_4 respons1_4_1">연례</td>
                        <td headers="department dp5 respons1 respons1_4 respons1_4_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_4 respons1_4_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_4 respons1_4_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_4 respons1_4_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_4 respons1_4_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            19
                        </th>
                        <td headers="items respons1 respons1_4 respons1_4_1">이사회 및 이사회내 부속위원회(감사위원회 제외) 부의사항 적법성 검토</td>
                        <td headers="laws respons1 respons1_4 respons1_4_1">지배구조법 시행령 제19조 제1항 제3호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_4 respons1_4_1">내부통제기준 제19조 제1항 제2호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_4 respons1_4_1">이OO</td>
                        <td headers="department dp3 respons1 respons1_4 respons1_4_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_4 respons1_4_1">분기</td>
                        <td headers="department dp5 respons1 respons1_4 respons1_4_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_4 respons1_4_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_4 respons1_4_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_4 respons1_4_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_4 respons1_4_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            20
                        </th>
                        <td headers="items respons1 respons1_4 respons1_4_1">고난도 금융투자 신상품 개발 법규준수 검토</td>
                        <td headers="laws respons1 respons1_4 respons1_4_1">지배구조법 시행령 제19조 제1항 제3호, 지배구조법 시행령 제11조 2항 제4호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_4 respons1_4_1">내부통제기준 제19조 제1항 제3호, 고난도 금융투자상품 제조 및 판매에 관한 영업행위준칙 제9조 제2항, 제10조 제1항(제조회사), 제17조 제2항, 제18조 제1항(판매회사)
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_4 respons1_4_1">이OO</td>
                        <td headers="department dp3 respons1 respons1_4 respons1_4_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_4 respons1_4_1">연례</td>
                        <td headers="department dp5 respons1 respons1_4 respons1_4_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_4 respons1_4_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_4 respons1_4_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_4 respons1_4_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_4 respons1_4_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            21
                        </th>
                        <td headers="items respons1 respons1_4 respons1_4_1">감독당국에 제출하는 중요한 자료나 문서(회계나 재무 관련 보고서 제외)에 대한 사전검토</td>
                        <td headers="laws respons1 respons1_4 respons1_4_1">지배구조법 시행령 제19조 제1항 제3호<br>은행법 제27조의2(부수업무의 운영), 제28조(겸영업무의 운영), 자본시장법 제16조(업무의 추가 및 인가의 변경, 은행법 제52조(약관), 자본시장법 제56조(약관), 은행법 제47조(정관변경 등의 보고), 자본시장법 제418조(보고사항) 제6호 내지 제9호
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_4 respons1_4_1">내부통제기준 제19조 제1항 제4호, 법규준부 업무 세칙 제8조 제7호, 금융상품 광고 및 공시자료 등 작성운영방법서
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_4 respons1_4_1">이OO</td>
                        <td headers="department dp3 respons1 respons1_4 respons1_4_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_4 respons1_4_1">분기</td>
                        <td headers="department dp5 respons1 respons1_4 respons1_4_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_4 respons1_4_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_4 respons1_4_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_4 respons1_4_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_4 respons1_4_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    <tr>
                        <th scope="row" class="first">
                            <!--<a [routerLink]="['/executive-management', 'detail-view']" class="detailView"><span>상세보기</span></a>-->
                            22
                        </th>
                        <td headers="items respons1 respons1_4 respons1_4_1">이해상충 방지를 위한 정보교류차단 관리</td>
                        <td headers="laws respons1 respons1_4 respons1_4_1">은행법 제28조의2, 은행법 시행령 제18조의3
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp1 respons1 respons1_4 respons1_4_1">내부통제기준 제29조, 금융투자업 겸영은행 이해상충방지 세칙 제8조
                            <div class="text-center mt-2"><app-base-button label="상세보기" size="small" icon="heroicons_solid:magnifying-glass"></app-base-button></div>
                        </td>
                        <td headers="department dp2 respons1 respons1_4 respons1_4_1">김OO</td>
                        <td headers="department dp3 respons1 respons1_4 respons1_4_1"><app-base-button label="점검내역보기" [routerLink]="['/executive-management', 'detail-view']" baseClass="custom-option-textButton" tag="a"></app-base-button></td>
                        <td headers="department dp4 respons1 respons1_4 respons1_4_1">분기</td>
                        <td headers="department dp5 respons1 respons1_4 respons1_4_1">점검완료</td>
                        <td headers="departHead dh1 respons1 respons1_4 respons1_4_1">검토</td>
                        <td headers="departHead dh2 respons1 respons1_4 respons1_4_1">부서장</td>
                        <td headers="departHead dh3 respons1 respons1_4 respons1_4_1">검토완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.11</p></td>
                        <td headers="executive ect1 respons1 respons1_4 respons1_4_1">점검완료<p class="iconText"><mat-icon class="mat-icon" svgIcon="heroicons_solid:calendar-days"></mat-icon>2025.04.16</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="data_list_option">
                <div class="option_align left">
                    <app-base-button label="점검담당자 지정" styleClass="btnAdd" icon="heroicons_solid:plus-small"></app-base-button>
                </div>
                <div class="option_align right">
                    <app-base-button label="검토요청" styleClass="btnEdit" icon="heroicons_solid:pencil-square"></app-base-button>
                    <app-base-button label="승인" styleClass="btnSave" icon="heroicons_solid:check-circle"></app-base-button>
                    <app-base-button label="반려" styleClass="btnCancel" icon="heroicons_solid:x-circle"></app-base-button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//todo
1. 관련법령, 관련내규 상세보기 팝업 연결-내용은 무얼 연결해야하는지 문의
2. 담당자 지정 클릭시 팝업 트리구조 직원정보 연결해 선택 가능하게 작업. - 작업 완료 후 하단 점검담당자 지정 버튼 제거.
3. 맨앞 체크박스 반드시 있어야 하는것인지..-있어야 할듯..
    3-1 승인,반려 모달 연결.
4. 점검 내용입력 폼 페이지 내에 부서장 전결 2번과 동일하게 작업.
-->
